h1.text-center{
  margin-bottom: 20px;
  margin-top: 20px;
}
.columns{
  margin: .3vw;
  padding: 5px;
    min-height: 100vh;
    background-color: rgb(216, 216, 216);
}

@media (min-width: 992px) {

}